{% extends "index.html" %}
{% load bootstrap4 %}

<title>Formulários</title>
{% bootstrap_css %}

{% block content %}
        <div class="container">
            <h1>Formulários</h1>
            {% bootstrap_messages %}

            <form method="post" class="form" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}


                <img src="/media/{{form.imagem_original}}">
                {% bootstrap_field form.imagem_original %}
                {% bootstrap_field form.valor %}
                {% bootstrap_field form.data %}
                {% bootstrap_field form.descricao %}
                {% bootstrap_field form.imagem_tratada %}
                {% bootstrap_field form.imagem_copilada %}

                {% buttons %}
                    <input type="submit" class="btn btn-primary" value="Salvar">
                {% endbuttons %}
            </form>
        </div>
{% endblock %}
{% bootstrap_javascript jquery='full' %}